<% provide(:title, 'Home') %>

<div class="row">

  <div class="span7">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <% @carousels.each do |carousel| %>
        <% if carousel.id == 1 %>
        <div class="item active">
          <% else %>
          <div class="item">
            <% end %>
            <%= image_tag carousel.file.url(:carousel) %>
            <div class="carousel-caption">
              <h4><%= carousel.title %></h4>
              <p><%= carousel.description %></p>
            </div>
          </div>
          <% end %>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>


    </div>

    <div class="span5">
      <h1>Hello there. We are <span class="emph">Fenway House</span>.<br></h1>
      Fenway is a coed independent living group for students at the Massachusetts Institute of Technology. We are 20 men and women sharing a large five story house in Boston's Back Bay. We're a 20 minute walk from the MIT campus.

    </div>
  </div>

  <div class="row">

    <div class="span12">
      <h3 class="title-box">Random facts <small>about our house</small></h3>
      <ul>
        <li>Our members are from all around the world. We currently have members from Brazil, India, Armenia, Iran, Japan, United States, France and Indonesia. Previous semester included people from England, Austria, China, Italy and Poland.</li>
        <li>Our house has a Pit under the basement, where arcane rituals are performed by some members.</li>
        <li>Our Alumni and Alumnae are still active in the house and frequently come visit us.</li>
        <li>We are a very diverse group, with all sorts of Physics Majors.</li>
      </ul>

    </div>

  </div>
  <div class="row">
    <div class="span6">
      <h3 class="title-box">Recent News</h3>
      <ul>
        <li>Last Wednesday's Dessert Night was great! Thanks for everyone who came and especially our amazing fenway chefs!</li>
      </ul>
    </div>


    <div class="span6">
      <h3 class="title-box">Upcoming Event</h3>
      <div class="row">
        <div class="span6">
	  <% if @last_event.datetime.future? %>
	  <% event = @last_event %>
          <%= link_to event.album do %>
          <div class="row event img-rounded">
            <div class="span2">
              <%= image_tag event.file.url(:thumb), class: "img-rounded" %>
            </div>
            <div class="span4">
              <h3> <%= event.title %> <span class="lead">(<%= event.datetime.strftime("%A, %b %d, %Y - %l:%M%P") %>)</span> </h3>
              <p class="description">
                <%= event.description %>
              </p>
            </div>
          </div>
          <% end %>

	  <% else %>
	  Sorry, but there are no upcoming events in the near future. Keep checking!
	  <% end %>
	  
        </div>
      </div>

    </div>

  </div>
