<% provide(:title, 'About Us') %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANfk8CsPDGEElfK8cdsJAxQs3w-JnNm2M&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
  var fenway = new google.maps.LatLng(42.345443,-71.090175);
  var mit = new google.maps.LatLng(42.358558, -71.091392);
  var center = new google.maps.LatLng(42.353624, -71.087337);

  var mapOptions = {
  center: center,
  zoom: 14,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("map"),
  mapOptions);

  var markerfenway = new google.maps.Marker({
  position: fenway,
  title:"Fenway House",
  animation: google.maps.Animation.BOUNCE
  });
  markerfenway.setMap(map);

  var markermit = new google.maps.Marker({
  position: mit,
  title:"MIT",
  });
  markermit.setMap(map);

  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>


<!-- <div class="header-secondary row"><\!-- Begin Header -\-> -->

<!--   <div class=""> -->

<!--     <\!-- Main Navigation -->
<!--     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -\-> -->
<!--     <div class="span6 pull-right"> -->

<!--       <ul class="nav nav-pills"> -->
<!--    <li><%= link_to "Astronomy", '#' %></li> -->
<!--    <li><%= link_to "Cycling", '#' %></li> -->
<!--    <li><%= link_to "Photography", '#'  %></li> -->
<!--       </ul> -->

<!--     </div>  -->
<!--   </div><\!-- End Main Navigation -\-> -->

<!-- </div><\!-- End Header -\-> -->


<ul class="nav nav-tabs">
  <li class="active"><a href="#about" data-toggle="tab">About</a></li>
  <li><a href="#tour" data-toggle="tab">Virtual Tour</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="about">
    <%= render partial: 'about_about', locals: {} %>
  </div>
  <div class="tab-pane" id="tour">
    <%= render partial: 'about_tour', locals: {} %>
  </div>
</div>
