<div class="row">
  
  <div class="span12">
    
    <div class="row">
      <%= form_for @album do |f| %>
      
      <div class="span8">
	<h3 class="title-box">Album#new</h3>

      </div>
      <div class="span4">
	<h3 class="title-box"><span class="secondary-title">Details</span></h3>
	<dl class="dl-horizontal">
	  
	  <dt><%= f.label :title %></dt><dd><%= f.text_field :title %></dd>
	  <dt><%= f.label :location %></dt><dd><%= f.text_field :location, placeholder: "Location" %></dd>
	  <dt><%= f.label :description %></dt><dd><%= f.text_area :description, placeholder: "Enter description here...", rows: "3" %></dd>
	  
	  <%= f.submit "Save", class: "btn" %>
	  
	</dl>
      </div>
      <% end %>
    </div>
  </div>
</div>
