<div class="row">
  
  <div class="span9">
    <div class="row">
     	<%= will_paginate @photos %>
	<% @photos.each do |photo| %>
	<%= render partial: 'photo', locals: { photo: photo } %>
	<% end %>
	
     </div>
  </div>
  
  <div class="span3">
    <h2><%= @album.title %></h2>
    <p class="lead"><%= @album.description %></p>
    <strong>Location:</strong> <%= @album.location %>
  </div>
  
</div>
