<div class="row">
  <div class="span8">
    <h1>Members#all</h1>
  </div>
</div>


<div class="row">
  <div class="span10">
    <ul class="thumbnails" id="members">
      <% Member.all.each do |member| %>
      <%= render partial: 'member', locals: {member: member, terms: member.terms} %>
      <% end %>
    </ul>
  </div>

  <div class="header-secondary">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
	<li>
          <%= link_to "All", "#", id: "btn-all" %>
        </li>

        <% @terms.each do |term| %>
        <li>
          <%= link_to term.title, "#", id: "btn-"+term.name %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">

  var $members = $('#members');
  var $data = $members.clone();



  $('#btn-all').click(function(e) {
  $filteredData = $data.find('li');
  $members.quicksand(  $filteredData, {
  duration: 800
  });
  e.preventDefault();
  });

  <% @terms.each do |term| %>
  $('<%= "#btn-#{term.name}" %>').click(function(e) {
  $filteredData = $data.find('<%= "li.#{term.name}" %>');
  $members.quicksand(  $filteredData, {
  duration: 800
  });
  e.preventDefault();
  });
  <% end %>


</script>
